<!DOCTYPE html>
<html>
	<head>
		<style> 
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
</style>
</head>
<body>

<div></div>

		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
    		</ul>
		</nav>
		<div class="container">
    
			{{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:eshasdalal@gmail.com">email</a></li>
        		<li><a href="https://github.com/eshadalal">github.com/eshadalal</a></li>
			</ul>
		</footer>
	</body>
</html>

